# ─────────────────────────────────────────────────────────────
# MiniMart Backend — Environment Variables (TEMPLATE)
# Sao chép file này thành .env và điền các giá trị phù hợp.
# ─────────────────────────────────────────────────────────────

# ─── Django Core ─────────────────────────────────────────────
SECRET_KEY=django-insecure-local-dev-only
DEBUG=True
# Thêm IP máy tính của bạn vào đây nếu muốn test trên điện thoại thật
ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.59

# ─── Database (PostgreSQL) ───────────────────────────────────
DB_NAME=minimart_db
DB_USER=postgres
DB_PASSWORD=123456

# 👉 CHẠY LOCAL (KẾT NỐI POSTGRESQL 17 TRÊN WINDOWS):
DB_HOST=127.0.0.1
DB_PORT=5432

# 👉 HOẶC CHẠY DOCKER COMPOSE:
# DB_HOST=db
# DB_PORT=5432

# ─── Redis ───────────────────────────────────────────────────
# 👉 CHẠY LOCAL (KẾT NỐI REDIS DOCKER QUA CỔNG 63790):
REDIS_URL=redis://127.0.0.1:63790/1

# 👉 HOẶC CHẠY DOCKER COMPOSE:
# REDIS_URL=redis://redis:6379/1

# ─── CORS ────────────────────────────────────────────────────
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081

# ─── Email (Gmail SMTP) ──────────────────────────────────────
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST_USER=nguyentruong23082005@gmail.com
EMAIL_HOST_PASSWORD=dqhe rfhg qgxp xoes

# ─── Crawler ─────────────────────────────────────────────────
CRAWLER_SECRET=minimart_local_temp_secret

# ─── Goong Maps API ──────────────────────────────────────────
# Lấy API Key miễn phí tại https://goong.io
GOONG_API_KEY=your_goong_api_key_here
WAREHOUSE_LAT=10.804561277400547
WAREHOUSE_LNG=106.6375986035028
SHIPPING_RATE_PER_KM=5000
SHIPPING_BASE_FEE=15000

# ─── VNPAY Payment Gateway (Sandbox) ─────────────────────────
# Thay các giá trị bên dưới bằng thông tin từ VNPAY Sandbox nếu có
VNPAY_TMN_CODE=LIOFL330
VNPAY_HASH_SECRET=0E0JWB5VSFE3WNT069R28F6DRHR98G8R
# URL sandbox cổng VNPAY (không đổi)
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# URL FE hiển thị kết quả sau khi khách thanh toán xong
VNPAY_RETURN_URL=http://localhost:8081/payment/result

# ─── Firebase ────────────────────────────────────────
FIREBASE_CREDENTIALS_PATH=credentials/firebase-key.json
FIREBASE_STORAGE_BUCKET=minimart-ce18c.firebasestorage.app
